.item {
	display: flex;
	align-items: center;
	padding-left: 4px;
	min-height: 40px;
	&__checkbox {
		flex: 20px;
		flex-shrink: 0;
		flex-grow: 0;
		height: 20px;
		border-radius: 50%;
		margin-right: 10px;
		border: 1px solid gray;
		position: relative;
	}
	&__text {
		font-size: 20px;
		overflow-wrap: anywhere;
		position: relative;
		&::after {
			content: "";
			top: 50%;
			left: 0%;
			height: 2px;
			width: 100%;
			background-color: gray;
			position: absolute;
			transform: translateY(50%) scale(0);
			transition: 0.5s ease all;
		}
	}
	&.active {
		.item__checkbox {
			&::after {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 18px;
				content: "\2713";
				color: green;
			}
		}
		.item__text {
			color: gray;
			&::after {
				transform: translateY(50%) scale(1);
			}
		}
	}
}
